* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 1.2rem "Poppins", sans-serif;
  background-image: url("assets/bg-brownie.jpg");
  background-size: cover;
}

img {
  border-radius: 10px;
}

h1,
h2 {
  color: rgb(73, 38, 0);
}

.page {
  width: 790px;
  padding: 30px;
  margin: 70px auto;
  background-color: rgb(255, 244, 235);
  border-radius: 10px;
}

.about {
  margin: 24px 0;
}

.ingredients {
  margin: 24px 0;

  & ul {
    margin-left: 24px;
  }
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(73, 38, 0);
  padding: 24px 0;
  margin-top: 100px;
}
